<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Kirja-arvostelut{% endblock %}</title>
</head>

<body>

<h1>Kirja-arvostelut</h1>

{% if session.username %}
  <p>
    Kirjautunut: <b>{{ session.username }}</b>
    |
    <a href="/user/{{ session.user_id }}">Oma profiili</a>
    |
    <a href="/logout">Kirjaudu ulos</a>
  </p>
{% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  </p>
{% endif %}

<p>
  <a href="/new_review">+ Lisää uusi arvostelu</a>
</p>

{% for message in get_flashed_messages() %}
  <p class="info">{{ message }}</p>
{% endfor %}

<hr>

{% block content %}{% endblock %}

</body>
</html>
