<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

{% for message in get_flashed_messages() %}
  <p class="info">{{ message }}</p>
{% endfor %}

<body>

  {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>

  {% else %}

    <form action="/login" method="post">

      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

      <p>
        Tunnus: <br />
        <input type="text" name="username" required />
      </p>

      <p>
        Salasana: <br />
        <input type="password" name="password" required />
      </p>

      <input type="submit" value="Kirjaudu" />

    </form>

  {% endif %}

</body>

</html>
