<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröidy</title>
</head>

<body>

  <h1>Luo tunnus</h1>

  <form action="/create_user" method="post">

    <p>
      Käyttäjänimi:<br>
      <input type="text" name="username" required>
    </p>

    <p>
      Salasana:<br>
      <input type="password" name="password1" required>
    </p>

    <p>
      Salasana uudestaan:<br>
      <input type="password" name="password2" required>
    </p>

    <button type="submit">Luo tunnus</button>

  </form>

</body>

</html>
