<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröidy</title>
</head>

<body>

  <h1>Luo tunnus</h1>

{% for message in get_flashed_messages() %}
  <p class="info">{{ message }}</p>
{% endfor %}

  <form action="/create_user" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <p>
      Käyttäjänimi:<br>
      <input type="text" name="username" required>
    </p>

    <p>
      Salasana:<br>
      <input type="password" name="password1" required>
    </p>

    <p>
      Salasana uudestaan:<br>
      <input type="password" name="password2" required>
    </p>

    <button type="submit">Luo tunnus</button>

  </form>

</body>

</html>
