{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}

<h1>Luo tunnus</h1>

{% for message in get_flashed_messages() %}
  <p class="info">{{ message }}</p>
{% endfor %}

<form action="/create_user" method="post">

  <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

  <p>
    <label for="username">Käyttäjänimi</label><br>
    <input type="text" id="username" name="username" required>
  </p>

  <p>
    <label for="password1">Salasana</label><br>
    <input type="password" id="password1" name="password1" required>
  </p>

  <p>
    <label for="password2">Salasana uudestaan</label><br>
    <input type="password" id="password2" name="password2" required>
  </p>

  <button type="submit">Luo tunnus</button>

</form>

{% endblock %}
